<div class="row scrollable" #myModal style="margin-top: 20px;">
  <div class="twelwe columns">
    <div>
      <div class="form-layout-compact" #dialogPlaceholder1>
        <p>
          WorkCenter Location:&nbsp;&nbsp;{{ gWHSL }}
          <span style="margin-left: 50px">
            <input
              soho-checkbox
              type="checkbox"
              [attr.id]="showAllLocationsId"
              [(ngModel)]="model1.showAllLocations"
              (change)="onShowAllLocationsChanged()"
            />
            <label soho-label [attr.for]="showAllLocationsId" [forCheckBox]="true">
              Show All Locations
            </label>
          </span>
        </p>

        <div
          style="margin-top: 20px; margin-left: 20px;"
          #NoledgerDatagrid
          id="gridItemLookup"
          soho-datagrid
          [gridOptions]="datagridOptions"
          soho-busyindicator
          [activated]="isBusy"
          [blockUI]="true"
          (selected)="onSelected($event.rows)"
          [displayDelay]="0"
          style="height: 350px; min-height: 320px; width: 800px; overflow: auto;"
        ></div>
      </div>
    </div>
  </div>
</div>
